body
{
    font-family: "Trebuchet MS", sans-serif;
}
#views-container
{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:flex;
    flex-flow: row nowrap;
}
#left-view
{
    flex-grow:1;
    width:33.33vw;
    /*padding:30px;*/
    box-sizing:content-box;
    border-right:1px solid rgba(170,170,170,1);
    background:rgb(230,230,220);
    color:rgb(65,64,66);
}
#right-view
{
    flex-grow:3;
    width:66.67vw;
    overflow:hidden;
}
h1
{
    margin:30px 0 0 30px;
}
.game
{
    display:block;
    cursor:default;
    padding:10px 0;
    max-height:30px;
    overflow:hidden;
    transition:max-height 0.2s ease-out;
}
.game-expander
{
    display:block;
    margin:0;
    padding:0 30px;
}
.game-button
{
    display:inline-block;
    color:rgb(65,64,66);
    pointer-events: none;
    cursor:pointer;
    padding:0px 5px;
    margin:5px 3px 5px 0;
    border-radius:2px;
    border:1px solid rgb(90,110,245);
    background:rgb(130,150,255);
}
.game-host
{
    pointer-events: none;
}
.game-member
{
    display:none;
    margin-left:50px;
    padding:5px 0;
}
.progress-bar
{
    display:none;
    height:5px;
    margin:10px 60px;
    border-radius:5px;
    background:rgb(85,84,86);
    overflow:hidden;
    pointer-events: none;
}
.progress
{
    display:block;
    height:100%;
    width:40%;
    border-radius:5px;
    background:rgb(33,150,243);
}
#map
{
    display:block;
    height:100%;
    width:100%;
}
#localMap0, #localMap1, #localMap2, #localMap3
{
    position: absolute;
    display:none;
    height:50%;
}

@media only screen and (max-width: 700px)
{
    #views-container
    {
        flex-direction: column;
    }
    #left-view
    {
        border-right:none;
        border-bottom:1px solid rgba(170,170,170,1);
    }
}